{% extends '::adminbase.html.twig' %}

{% block body -%}
    <h1>Liste des tailles</h1>

    <a href="{{ path('size_new') }}" class="btn btn-jismen">
        <i class="glyphicon glyphicon-plus-sign"></i> Ajouter
    </a>
    <table class="table">
        <thead>
            <tr>
                <th>#</th>
                <th>Nom</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td>{{ entity.id }}</td>
                <td>{{ entity.name }}</td>
                <td>
                        <a href="{{ path('size_show', { 'id': entity.id }) }}" class="badge"><i class="glyphicon glyphicon-eye-open"></i></a>
                        <a href="{{ path('size_edit', { 'id': entity.id }) }}" class="badge"><i class="glyphicon glyphicon-edit"></i></a>
                        <a href="" class="badge"><i class="glyphicon glyphicon-trash"></i></a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {% endblock %}
