<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{% block title %}Jismen{% endblock %}</title>
  {% block stylesheets %}
    {% stylesheets '@bootstrap_css' '@main_css'%}
      <link rel="stylesheet" type="text/css" media="screen" href="{{ asset_url }}"/>
    {% endstylesheets %}
  {% endblock %}
  <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
</head>
<body>
  {% block navbar %}
  <nav class="navbar navbar-fixed-top">
    <div class="navbar-top">
      <div class="container">
        <div class="row">
          <div class="col-xs-6">
            <div class="pull-left">
              <ul class="userMenu">
                <li>
                  <a href="callto:+33199999999">
                    <span><i class="glyphicon glyphicon-phone-alt visible-xs"></i></span>
                    <span class="hidden-xs">+33(0) 1 99 99 99 99</span>
                  </a>
                </li>
              </ul>
            </div>
          </div>
          <div class="col-xs-6">
            <div class="pull-right">
              <ul class="userMenu">
                {% if app.user %}
                  <li>
                    <a href="">
                      <span class="hidden-xs"> Mon compte </span>
                      <i class="glyphicon glyphicon-user visible-xs "></i>
                    </a>
                  </li>
                  <li>
                    <a href="{{ path('fos_user_security_logout') }}">
                      <span class="hidden-xs"> Déconnexion</span>
                      <i class="glyphicon glyphicon-log-out visible-xs"></i>
                    </a>
                  </li>
                {% else %}
                  <li>
                    <a href="{{ path('fos_user_security_login') }}">
                      <span class="hidden-xs"> Connexion </span>
                      <i class="glyphicon glyphicon-log-in hidden visible-xs"></i>
                    </a>
                  </li>
                  <li class="hidden-xs">
                    <a href="" data-target="#modal-inscription" data-toggle="modal">Inscription</a>
                  </li>
                {% endif %}
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="navbar-header col-md-2 col-sm-3">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapsible">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="{{ path('clients_homepage') }}">Jismen</a>
      </div>
      <div class="collapse navbar-collapse" id="navbar-collapsible">
        <ul class="nav navbar-nav">
          {{ render(controller('ClientsBundle:Default:header')) }}
        </ul>
      </div>
    </div>
  </nav>
  {% endblock navbar %}

  <div class="container-fluid">
    <div id="main" class="row">
      {% block body %}{% endblock %}
    </div>
  </div>

  {% block footer %}
  <footer id="footer">
    <div class="">
      <div class="container">
        <div class="row no-margin">
          <div class="col-sm-4">
            <div class="">
              <h2>Service</h2>
              <ul class="nav nav-pills nav-stacked">
                <li><a href="">Support en ligne</a></li>
                <li><a href="">Contatez-nous</a></li>
                <li><a href="">Suivi de commande</a></li>
                <li><a href="">FAQ</a></li>
              </ul>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="">
              <h2>Politique</h2>
              <ul class="nav nav-pills nav-stacked">
                <li><a href="">Conditions d'utilisation</a></li>
                <li><a href="">Mentions légales</a></li>
                <li><a href="">Politique de remboursement</a></li>
                <li><a href="">Système de facturation</a></li>
              </ul>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="">
              <h2>À propos de JISMEN</h2>
              <ul class="nav nav-pills nav-stacked">
                <li><a href="">Informations sur la Société</a></li>
                <li><a href="">Carrières</a></li>
                <li><a href="">Emplacement du magasin</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer>
  {% endblock footer %}
  {% block javascripts %}
    {% javascripts '@jquery' '@bootstrap_js' %}
      <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
  {% endblock %}
</body>
</html>
