{% for category in categories %}
  {% if category.enabled %}
    <li>
      <a href="" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false" id="category{{ loop.index }}">
        {{ category.name }} <b class="caret"></b>
      </a>
      <ul class="dropdown-menu" aria-labelledby="category{{ loop.index }}">
        {% for sub in category.subCategories() %}
          {% if sub.enabled %}
            <li><a href="{{ path('category_client', {id: sub.id}) }}">{{ sub.name }}</a></li>
          {% endif %}
        {% endfor %}
      </ul>
    </li>
  {% endif %}
{% endfor %}
{% if app.user %}
  <li>
    <a href="">VIP</a>
  </li>
  {% if is_granted('ROLE_ADMIN') %}
    <li>
      <a href="{{ path('admin_index') }}">Administration</a>
    </li>
  {% endif %}
{% endif %}
